* {
	font-family: sans-serif;
}

button {
	width: 33%;
}

.site_frame {
	margin: 0 auto;
	width: 95%;
	max-width: 640px;
}

.app_frame {
	/* A single window within the app */
	position: relative;
	width: 100%;
	height: auto;
}

.point {
	/* A clickable point on the map */
	/* Position (changed programmatically) */
	position: absolute;
	transform: translate(-100%, -50%);
	/* Size */
	width: 5%;
	height: auto;
	/* Sorting */
	z-index: 0;
}

#panorama {
	/* Where the 360 degree room photo is displayed */
	width: 100%;
	height: auto;
	z-index: -1;
}

#floor_plan {
	/* Align the floor plan image to the app frame */
	width: 100%;
	height: auto;
	position: relative;
	z-index: -1;
}